Repository Xenon-Lang-Org/Xenon, pull requests merged in 2025-01, with the labels that each got.

#18 Test Compiler
  .gitignore
  examples/compiled/add.wasm
  examples/compiled/and.wasm
  examples/compiled/basic_if.wasm
  examples/compiled/is_prime.wasm
  examples/compiled/is_prime_global.wasm
  examples/compiled/multiple_functions.wasm
  examples/compiled/multiple_if.wasm
  examples/compiled/or.wasm
  examples/compiled/while.wasm
  examples/is_prime.xn
  examples/is_prime_global.xn
  lib/Compiler/System/FillModuleData.hs
  test/CompilerSpec.hs
  test/tester.sh
Labels: Test 🔬

#27 Interpreter Extras
  interpreter/Main.hs
  lib/Interpreter/Data/Environment.hs
  lib/Interpreter/System/Command.hs
  lib/Interpreter/System/Evaluator.hs
  lib/Interpreter/System/Module.hs
  lib/Interpreter/System/Types.hs
  lib/Parser/Data/Ast.hs
  lib/Utils/Data/Result.hs
  package.yaml
  stack.yaml
  test/InterpreterSpec.hs
Labels: feature ⚙️, Test 🔬

#32 Interpreter Standalone Execution
  Makefile
  interpreter/Main.hs
  lib/Interpreter/System/Evaluator.hs
  lib/Utils/System/Print.hs
Labels: feature ⚙️

#34 VM
  Makefile
  ftest/add.wat
  ftest/and.wat
  ftest/basic_if.wat
  ftest/branchNested.wat
  ftest/chainOps.wat
  ftest/factorial.wat
  ftest/fibonacci.wat
  ftest/floatArithmetic.wat
  ftest/globalVar.wat
  ftest/is_prime.wat
  ftest/is_prime_global.wat
  ftest/loop.wat
  ftest/main.wat
  ftest/multiple_functions.wat
  ftest/multiple_if.wat
  ftest/my_pow.wat
  ftest/or.wat
  ftest/subAndMul.wat
  ftest/test-wasm.sh
  ftest/while.wat
  lib/Compiler/System/WriteWASM.hs
  lib/VM/Data/AST.hs
  lib/VM/Data/Types.hs
  lib/VM/Data/VMTypes.hs
  lib/VM/System/Parser.hs
  lib/VM/System/ParserOpcodes.hs
  lib/VM/System/ParserUtils.hs
  lib/VM/System/VM.hs
  lib/VM/System/VMOpcodes.hs
  lib/VM/System/VMUtils.hs
  package.yaml
  stack.yaml
  stack.yaml.lock
  wasm-vm/Main.hs
  xenon.cabal
Labels: feature ⚙️

#36 Interpreter Miscellaneous
  lib/Interpreter/Data/Environment.hs
  lib/Interpreter/System/Evaluator.hs
  lib/Interpreter/System/Types.hs
  test/InterpreterSpec.hs
Labels: feature ⚙️

#41 Interpreter Unlimited Scopes
  interpreter/Main.hs
  lib/Interpreter/Data/Environment.hs
  lib/Interpreter/System/Evaluator.hs
  lib/Interpreter/System/Types.hs
  lib/Utils/Data/Result.hs
  test/InterpreterSpec.hs
Labels: Interpreter 📟

#40 Extra Examples & Tests
  examples/bitwise.xn
  examples/compiled/bitwise.wasm
  examples/compiled/gcd.wasm
  examples/compiled/sum_digits.wasm
  examples/count_one_bits.xn
  examples/gcd.xn
  examples/nesting.xn
  examples/sum_digits.xn
  examples/sum_even.xn
  ftest/bitwise.wat
  ftest/gcd.wat
  ftest/sum_digits.wat
  ftest/test-wasm.sh
  lib/Interpreter/Data/Environment.hs
Labels: Compiler 💾, Test 🔬, Interpreter 📟, Parser 🖨️

#45 Edit vm name & param parsing
  Makefile
  ftest/add_64.wat
  ftest/test-wasm.sh
  lib/VM/Data/AST.hs
  lib/VM/Data/Types.hs
  lib/VM/Data/VMTypes.hs
  lib/VM/System/Parser.hs
  lib/VM/System/VM.hs
  package.yaml
  vm/Main.hs
  wasm-interpreter/Main.hs
  wasm-vm/Main.hs
  xenon.cabal
Labels: VM 💻

#49 VM x Interpreter Functional Tests
  Makefile
  examples/add_64.xn
  examples/branchNested.xn
  examples/chainOps.xn
  examples/factorial.xn
  examples/fibonacci.xn
  examples/floatArithmetic.xn
  examples/globalVar.xn
  examples/loop.xn
  examples/subAndMul.xn
  ftest/add.wat
  ftest/add_64.wat
  ftest/and.wat
  ftest/basic_if.wat
  ftest/bitwise.wat
  ftest/branchNested.wat
  ftest/chainOps.wat
  ftest/factorial.wat
  ftest/fibonacci.wat
  ftest/floatArithmetic.wat
  ftest/gcd.wat
  ftest/globalVar.wat
  ftest/is_prime.wat
  ftest/is_prime_global.wat
  ftest/loop.wat
  ftest/main.wat
  ftest/multiple_functions.wat
  ftest/multiple_if.wat
  ftest/my_pow.wat
  ftest/or.wat
  ftest/subAndMul.wat
  ftest/sum_digits.wat
  ftest/test-wasm.sh
  ftest/while.wat
  functionnal_tests.sh
  interpreter/Main.hs
  lib/Compiler/System/FillModuleData.hs
  lib/Interpreter/System/Evaluator.hs
  lib/Interpreter/System/Operation.hs
  lib/Interpreter/System/Types.hs
  vm/Main.hs
Labels: VM 💻, Test 🔬, Interpreter 📟

#46 44 fix analyzer to ir
  .github/workflows/ci.yml
  .gitignore
  Makefile
  compiler/Main.hs
  examples/compiled/add.wasm
  examples/compiled/and.wasm
  examples/compiled/basic_if.wasm
  examples/compiled/bitwise.wasm
  examples/compiled/gcd.wasm
  examples/compiled/is_prime.wasm
  examples/compiled/is_prime_global.wasm
  examples/compiled/main.wasm
  examples/compiled/multiple_functions.wasm
  examples/compiled/multiple_if.wasm
  examples/compiled/my_pow.wasm
  examples/compiled/or.wasm
  examples/compiled/sum_digits.wasm
  examples/compiled/while.wasm
  examples/conditional.xn
  examples/count_to.xn
  examples/non-working/duplication.xn
  examples/non-working/loop_return.xn
  examples/non-working/no_return.xn
  examples/non-working/partial_return.xn
  examples/non-working/type.xn
  examples/non-working/variable_immut.xn
  examples/non-working/variable_uninit.xn
  functionnal_tests.sh
  lib/Analyzer/IR.hs
  lib/Analyzer/SemanticAnalyzer.hs
  lib/Parser/Data/Ast.hs
  lib/Parser/System/Lexer.hs
  lib/Parser/System/Parser.hs
  test/ASTSpec.hs
  test/IRSpec.hs
  test/LexerQuickCheckSpec.hs
  test/LexerSpec.hs
  test/ParserSpec.hs
  test/tester.sh
  xenon.cabal
Labels: Optimizer 🎛️

#61 Fix Left&Rigth shift operator not beeing lexed
  lib/Parser/System/Lexer.hs
  test/LexerSpec.hs
  test/ParserSpec.hs
Labels: Test 🔬, Parser 🖨️

#63 Interpreter Floating Point Precision
  lib/Interpreter/System/Operation.hs
  lib/Parser/Data/Ast.hs
Labels: Interpreter 📟

#62 Interpreter Bad Modulo Operator Fix
  lib/Interpreter/System/Operation.hs
Labels: Interpreter 📟

#48 Interpreter Optimizer
  lib/Interpreter/System/Optimizer.hs
  lib/Interpreter/System/Types.hs
  test/InterpreterSpec.hs
Labels: Interpreter 📟, Optimizer 🎛️
